datasets/cityData/
datasets/vanGogh/
venv/
__pycache__/
checkpoints/
results_test_epochs/
# Ignore everything in checkpoints folder
checkpoints/*
# But not this specific file
!checkpoints/
!checkpoints/G_AB_epoch100.pth
